{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container mb-2 main-padding">
    <div class="row">
        <div class="col">
            <h3 class="my-sm-2 my-md-3 my-lg-5 text-center font-weight-bold">Your Shopping Bag</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Book Title</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                    <tbody>
                        <tr>
                            <!-- Shows book type -->
                            <td class="py-2">
                                {% if item.product.book_type1 %}
                                <p>{{ item.product.book_type1.book_friendly_type }}</p>
                                {% elif item.product.book_type2 %}
                                <p>{{ item.product.book_type2.book_friendly_type }}</p>
                                {% else %}
                                <p>{{ item.product.book_type3.book_friendly_type }}</p>
                                {% endif %}
                            </td>
                            <td class="py-2">
                                <a href="{% url 'book_detail' item.item_id %}" rel="nofollow">{{ item.product.title }}</a>
                            </td>
                            <!-- Shows book price depending on the type -->
                            <td class="py-2">
                                {% if item.product.price_hardcover %}
                                <p>£ {{ item.product.price_hardcover }}</p>
                                {% elif item.product.price_paperback %}
                                <p>£ {{ item.product.price_paperback }}</p>
                                {% else %}
                                <p>£ {{ item.product.price_electronic }}</p>
                                {% endif %}
                            </td>
                            <td>
                                <p></p>
                            </td class="py-2">
                            <td class="w-25">
                                <!-- Form to increase/decrease book quantity -->
                                <form method="POST" class="form update-form" action="{% url 'adjust_bag' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <!-- Increment book quantity button -->
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm border" data-item_id="{{ item.item_id }}"
                                                    id="decrement-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <!-- Current quantity in the shopping bag -->
                                            <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}"
                                                class="form-control qty_input form-control-sm">
                                            <!-- Decrement book quantity button -->
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm border" data-item_id="{{ item.item_id }}"
                                                    id="increment-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <a class="update-link btt"><small>Update</small></a>
                                <a class="remove-item float-right btt" id="remove_{{ item.item_id }}"><small>Remove <i class="fas fa-backspace"></i></small></a>
                            </td>
                            <!-- Shows final price depending on the type of book and qty -->
                            <td class="py-2">
                                {% if item.product.price_hardcover %}
                                <p>£ {{ item.product.price_hardcover | calc_subtotal:item.quantity }}</p>
                                {% elif item.product.price_paperback %}
                                <p>£ {{ item.product.price_paperback | calc_subtotal:item.quantity }}</p>
                                {% else %}
                                <p>£ {{ item.product.price_electronic | calc_subtotal:item.quantity }}</p>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6>Bag Total <strong>£{{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total £{{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1-text-danger">
                                You could get free delivery if you spend <strong>£{{ free_delivery_delta }}</strong>
                                more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'books' %}" class="btn btt" rel="nofollow">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span>Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btt" rel="nofollow">
                                <span>Secure Checkout</span>
                                <span><i class="fas fa-lock"></i></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead-mb-5">Your bag is empty.</p>
            <a href="{% url 'books' %}" class="btn btt border" rel="nofollow">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'books/includes/qty_input_script.html' %}

<script type="text/javascript">
    // Update book quantity
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove book and reload page
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
            .done(function() {
                location.reload();
            })
    })
</script>
{% endblock %}