{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container mb-2">
    <div class="row">
        <div class="col">
            <div class="my-4 text-center font-weight-bold">Your Shopping Bag</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Book Title</th>
                            <th scope="col"></th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                    <tbody>
                        <tr>
                            <td class="py-2">
                                <p>{{ item.product.book_type1.book_friendly_type }}</p>
                            </td>
                            <td class="py-2">
                                <p>{{ item.product.title }}</p>
                            </td>
                            <td>
                                <p></p>
                            </td class="py-2">
                            <td class="w-25">
                                <!-- Form to increase/decrease book quantity -->
                                <form action="" method="POST" class="form update-form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <!-- Increment book quantity button -->
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm border" data-item_id="{{ item.item_id }}"
                                                    id="decrement-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <!-- Current quantity in the shopping bag -->
                                            <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}"
                                                class="form-control qty_input form-control-sm">
                                            <!-- Decrement book quantity button -->
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm border" data-item_id="{{ item.item_id }}"
                                                    id="increment-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td class="py-2">
                                <p>£ {{ item.product.price_hardcover }}</p>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6>Bag Total <strong>£{{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total £{{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1-text-danger">
                                You could get free delivery if you spend <strong>£{{ free_delivery_delta }}</strong>
                                more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'books' %}" class="btn border">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span>Keep Shopping</span>
                            </a>
                            <a href="" class="btn border">
                                <span>Secure Checkout</span>
                                <span><i class="fas fa-lock"></i></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead-mb-5">Your bag is empty.</p>
            <a href="{% url 'books' %}" class="btn border">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'books/includes/qty_input_script.html' %}
{% endblock %}