{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid index-bg home-padding">
    <div class="row h-100 text-center text-white">
        <div class="col my-auto py-2 index-bg-2 mx-auto">
            <a class="btt-index btn-lg" href="{% url 'books' %}" rel="nofollow">Shop Now</a>
        </div>
    </div>
</div>
{% endblock %}