{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid index-bg">
    <div class="row h-100 text-center text-white">
        <div class="col-12 col-md-6 my-auto py-2 index-bg-2 text-white">
            <a class="btt-index" href="{% url 'books' %}">Shop Now</a>
        </div>
        <div class="col-12 col-md-6 my-auto py-2 text-center index-bg-2">
            <a href="" class="btt-index">Subscribe to our Newsletter!</a>
        </div>
    </div>
</div>
{% endblock %}