{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h4>
                    <a class="btn" href="">Events</a>
                </h4>
                <h4>
                    <a class="btn" href="">Newsletter</a></h4>
            </div>
        </div>
        <div class="row-h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1>Opening hours</h1>
                <h1>Where to find us</h1>
            </div>
        </div>
    </div>
{% endblock %}