{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container mb-2">
    <div class="row">
        <div class="col">
            <p class="my-sm-2 my-md-3 my-lg-5 text-center font-weight-bold">My Profile</p>
        </div>
    </div>
</div>
{% endblock %}