html {
    height: 100%;
}

body {
    background: url(/media/homepage-image.jpg) no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Red Hat Mono';
}

/* Navigation bar and Footer */

.text-white {
    color: #C8C8C8 !important;
}

.main-bg {
    background-color: #6F1D1B;
}

.nav-bg {
    background-color: #631918;
}

.yellow-bg {
    background-color: #866209;
}

.copyright {
    font-size: x-small;
}
