<footer class="container-fluid main-bg">
    <div class="row my-auto ps-3 pt-3 text-white">
        <div class="col-12 col-lg-4 my-auto text-center py-1 py-lg-0">
            <p>Opening times</p>
            <p class="m-0 p-0 schedule"><small>Monday to Saturday: 10am - 10pm</small></p>
            <p class="m-0 p-0 schedule"><small>Sunday: 11am - 5pm</small></p>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 text-center py-lg-0">
            <p>Social Media</p>
            <a href="https://www.facebook.com/" target="_blank" rel="follow"><i
                    class="fab fa-facebook-square ms-3 fa-2x link-light"></i></a>
            <a href="https://twitter.com/" target="_blank" rel="follow"><i
                    class="fab fa-twitter-square ms-3 fa-2x link-light"></i></a>
            <a href="https://www.instagram.com/" target="_blank" rel="follow"><i
                    class="fab fa-instagram-square ms-3 fa-2x link-light"></i></a>
            <a href="https://www.youtube.com/" target="_blank" rel="follow"><i
                    class="fab fa-youtube-square ms-3 fa-2x link-light"></i></a>
            </p>
        </div>
        <div class="col-12 col-lg-4 my-auto text-center py-1 py-lg-0">
            <p>Where to find us</p>
            <p class="m-0 p-0 schedule"><small>107 Charing Cross Rd, London WC2H 0DT, United Kingdom</small></p>
        </div>
    </div>
    <div class="row px-3 pt-3 pt-sm-0">
        <div class="text-center py-3">
            <p class="m-0 text-center text-white copyright">Made by Ana Genover ©2022 Copyright (for educational
                purposes only, no deliveries will be issued)</p>
        </div>
    </div>
</footer>