<div class="collapse navbar-collapse nav-bg" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-4" href="{% url 'home' %}" rel="nofollow">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-4" href="{% url 'books' %}" id="all-books-link" rel="nofollow">
                All Books
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-4" href="#" id="fiction-books-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="nofollow">
                Fiction
            </a>
            <div class="dropdown-menu" aria-labelledby="fiction-books-link">
                <a class="dropdown-item"
                    href="{% url 'books' %}?book_sub_category=general_fiction,crime_thrillers,science_fiction" rel="nofollow">All
                    Fiction</a>
                <a class="dropdown-item" href="{% url 'books' %}?book_sub_category=general_fiction" rel="nofollow">General Fiction</a>
                <a class="dropdown-item" href="{% url 'books' %}?book_sub_category=crime_thrillers" rel="nofollow">Crime &amp;
                    Thrillers</a>
                <a class="dropdown-item" href="{% url 'books' %}?book_sub_category=science_fiction" rel="nofollow">Science Fiction</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-4" href="#" id="nonfiction-books-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Non-Fiction
            </a>
            <div class="dropdown-menu" aria-labelledby="nonfiction-books-link">
                <a class="dropdown-item" href="{% url 'books' %}?book_sub_category=food_drink,sports,crafts_hobbies" rel="nofollow">All
                    Non-Fiction</a>
                <a class="dropdown-item" href="{% url 'books' %}?book_sub_category=crafts_hobbies" rel="nofollow">Crafts &amp;
                    Hobbies</a>
                <a class="dropdown-item" href="{% url 'books' %}?book_sub_category=sports" rel="nofollow">Sports</a>
                <a class="dropdown-item" href="{% url 'books' %}?book_sub_category=food_drink" rel="nofollow">Food &amp; Drink</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-4" href="#" id="children-books-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="nofollow">
                Children
            </a>
            <div class="dropdown-menu" aria-labelledby="children-books-link">
                <a class="dropdown-item" href="{% url 'books' %}?book_sub_category=baby_toddler,teen_young_age" rel="nofollow">All
                    Children</a>
                <a class="dropdown-item" href="{% url 'books' %}?book_sub_category=baby_toddler" rel="nofollow">Baby &amp; Toddler</a>
                <a class="dropdown-item" href="{% url 'books' %}?book_sub_category=teen_young_age" rel="nofollow">Teen &amp; Young
                    Age</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-4" href="{% url 'newsletter_signup' %}"
                aria-haspopup="true" aria-expanded="false" rel="nofollow">
                Newsletter
            </a>
        </li>
    </ul>
</div>