<div class="collapse navbar-collapse nav-bg" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                <a class="dropdown-item" href="">All Fiction</a>
                <a class="dropdown-item" href="#">General Fiction</a>
                <a class="dropdown-item" href="#">Classic Fiction</a>
                <a class="dropdown-item" href="#">Crime & Thrillers</a>
                <a class="dropdown-item" href="#">Science Fiction</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Non-Fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                <a class="dropdown-item" href="#">All Non-Fiction</a>
                <a class="dropdown-item" href="#">Architecture</a>
                <a class="dropdown-item" href="#">Biography</a>
                <a class="dropdown-item" href="#">Food & Drink</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Children
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                <a class="dropdown-item" href="#">All Children</a>
                <a class="dropdown-item" href="#">Baby & Toddler</a>
                <a class="dropdown-item" href="#">Teen & Young Age</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Events
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Subscriptions
            </a>
        </li>
    </ul>
</div>