{% load static %}

<!doctype html>
<html lang="en">

<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"
    integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}


  {% block corejs %}
  <script src="https://kit.fontawesome.com/82e8dfd6a3.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>FavBooks {% block extra_title%} {% endblock %}</title>
</head>

<body>
  <div class="container-fluid fixed-top content bg-nav">
    <div id="topnav" class="row pt-lg-2 d-none d-lg-flex bg-main">
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
        <a href="{% url 'home' %}">
          <h2>FavBOOKS</h2>
        </a>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <form method="GET" action="">
          <div class="input-group w-100">
            <input type="text" class="form-control border rounded-0" name="q"
              placeholder="Search your new favourite book">
            <div class="input-group-append">
              <button class="form-control btn btn-dark border rounded-0" type="submit">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <li class="list-inline-item dropdown">
            <a href="#" class="nav-link" id="user-options" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="text-center">
                <p class="my-0 text-white"><i class="fas fa-book fa-lg"></i> My Account</p>
              </div>
            </a>
            <div class="dropdown-menu border-0 text-white" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="" class="dropdown-item">Books Management</a>
              <a href="" class="dropdown-item">Subscription Management</a>
              {% endif %}
              <a href="" class="dropdown-item">My Profile</a>
              <a href="" class="dropdown-item">My Subscriptions</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Sign In</a>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item dropdown">
            <a href="">
              <div class="text-center text-white">
                <div><i class="fas fa-cart-plus fa-lg"></i></div>
                <p class="my-0">
                  {% if grand_total %}
                  ${{ grand_total|floatformat:2 }}
                  {% else %}
                  $0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row category justify-content-center bg-main">
      <ul class="list-inline list-unstyled text-center text-lg-right my-0">
        <li class="list-inline-item dropdown">
          <a href="" class="nav-link" id="user-options" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <p class="my-0 text-white">Fiction</p>
          </a>
          <div class="dropdown-menu border-0" aria-labelledby="user-options">
            <a href="" class="dropdown-item">All Fiction</a>
            <a href="" class="dropdown-item">General Fiction</a>
            <a href="" class="dropdown-item">Classic Fiction</a>
            <a href="" class="dropdown-item">Crime & Thrillers</a>
            <a href="" class="dropdown-item">Science Fiction</a>
          </div>
        </li>
      </ul>
      <ul class="list-inline list-unstyled text-center text-lg-right my-0">
        <li class="list-inline-item dropdown">
          <a href="" class="nav-link" id="user-options" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <p class="my-0 text-white">Non-Fiction</p>
          </a>
          <div class="dropdown-menu border-0" aria-labelledby="user-options">
            <a href="" class="dropdown-item">All Non-Fiction</a>
            <a href="" class="dropdown-item">Architecture</a>
            <a href="" class="dropdown-item">Biography</a>
            <a href="" class="dropdown-item">Food & Drink</a>
          </div>
        </li>
      </ul>
      <ul class="list-inline list-unstyled text-center text-lg-right my-0">
        <li class="list-inline-item dropdown">
          <a href="" class="nav-link" id="user-options" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <p class="my-0 text-white">Children</p>
          </a>
          <div class="dropdown-menu border-0" aria-labelledby="user-options">
            <a href="" class="dropdown-item">All Children</a>
            <a href="" class="dropdown-item">Baby & Toddler</a>
            <a href="" class="dropdown-item">Teen & Young Age</a>
          </div>
        </li>
      </ul>
      <ul class="list-inline list-unstyled text-center text-lg-right my-0">
        <li class="list-inline-item dropdown">
          <a href="" class="nav-link">
            <p class="my-0 text-white">Subscriptions</p>
          </a>
        </li>
      </ul>
      <ul class="list-inline list-unstyled text-center text-lg-right my-0">
        <li class="list-inline-item dropdown">
          <a href="" class="nav-link">
            <p class="my-0 text-white">Events</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  {% if messages %}
  <div class=""></div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <footer>
    <div class="container-fluid footer bg-nav bg-main">
      <div class="row my-auto ps-3 pt-3">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <p>Where to find us</p>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <p>Opening Hours</p>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <p>Social Media</p>
        </div>
      </div>
      <div class="row px-3 pt-3 bg-main">
        <div class="footer-copyright text-center py-3">
          <p class="m-0 text-center text-dark">Made by Ana Genover (for educational purposes only) © 2021 Copyright</p>
        </div>
      </div>
    </div>
  </footer>

  {% block postloadjs %}
  {% endblock %}


</body>

</html>