{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Book details section -->
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container mt-5 mb-3">
                {% if book.cover %}
                <a href="{{ book.cover.url }}" target="_blank">
                    <img src="{{ book.cover.url }}" alt="{{ book.title }}" class="w-50 img-center img-fluid img-thumbnail">
                </a>
                {% else %}
                <a href="">
                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ book.title }}" class="w-50 img-center img-fluid img-thumbnail">
                </a>
                {% endif %}
            </div>
            <div class="container-fluid">
                <p class="lead text-left mb-0"><small>£ {{ book.price_hardcover }} |
                        {{ book.book_type1.book_friendly_type }}</small></p>
                <!-- TO IMPLEMENT: show different prices for different types of books -->
                <!-- <p class="lead text-left mb-0"><small>£ {{ book.price_paperback }} |
                        {{ book.book_type2.book_friendly_type }}</small></p>
                <p class="lead text-left mb-0"><small>£ {{ book.price_electronic }} |
                        {{ book.book_type3.book_friendly_type }}</small></p> -->
                {% if book.book_sub_category %}
                <p class="small mt-1 mb-0">
                    <a href="{% url 'books' %}?book_sub_category={{ book.book_sub_category.book_sub_category }}"
                        class="text-muted">
                        <i class="fas fa-hashtag"></i> {{ book.book_sub_category.book_friendly_sub_category }}
                    </a>
                </p>
                {% endif %}
                {% if book.rating %}
                <small class="text-muted"><i class="fas fa-star"></i> {{ book.rating }} / 5</small>
                {% else %}
                <small class="text-muted">No Rating Yet</small>
                {% endif %}
                <!-- Change quantity and add to bag form -->
                <form action="{% url 'add_to_bag' book.id %}" method="POST" class="form">
                    {% csrf_token %}
                    <div class="form-row">
                        <!-- TO IMPLEMENT: Select book type -->
                        <!-- <div class="col-12">
                            <p><strong>Book Type:</strong></p>
                            <select class="form-control w-50" name="book_type" id='id_book_type'>
                                <option>{{ book.book_type1.book_friendly_type }}</option>
                                <option>{{ book.book_type2.book_friendly_type }}</option>
                                <option>{{ book.book_type3.book_friendly_type }}</option>
                            </select>
                        </div> -->
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <!-- Increment book quantity button -->
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn border" data-item_id="{{ book.id }}"
                                            id="decrement-qty_{{ book.id }}">
                                            <span>
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input type="number" name="quantity" value="1" min="1" max="99"
                                        data-item_id="{{ book.id }}" id="id_qty_{{ book.id }}"
                                        class="form-control qty_input">
                                     <!-- Decrement book quantity button -->
                                    <div class="input-group-append">
                                        <button class="increment-qty btn border" data-item_id="{{ book.id }}"
                                            id="increment-qty_{{ book.id }}">
                                            <span>
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Keep shopping and add to bag buttons -->
                        <div class="col-12">
                            <a href="{% url 'books' %}" class="btn btn-border btt">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span>Keep Shopping</span>
                            </a>
                            <input type="submit" value="Add to Bag" class="btn btn-border btt">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
        <!-- Books title, author and description -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="container-fluid mt-5">
                <p class="lead text-left font-weight-bold">"{{ book.title }}"</p>
                <p class="lead text-left"><small class="font-weight-bold"> by {{ book.author }}</small></p>
                <p class="lead text-left ft-md"><small>{{ book.synopsis }}</small></p>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block postloadjs %}
        {{ block.super }}
        {% include 'books/includes/qty_input_script.html' %}
    {% endblock %}
