{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h4>Your New Favourite Books!</h4>
        </div>
    </div>
    <div class="row">
        <div class="product container col-10 offset-1">
            <!-- Filtering options (by price, title, category, etc.) -->
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex">
                    <div class="sort-select-wrapper w-75">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_hardcover__asc" {% if current_sorting == 'price_hardcover_asc' %}selected{% endif %}>Price Hardcover (low to high)</option>
                            <option value="price_hardcover__desc" {% if current_sorting == 'price_hardcover_desc' %}selected{% endif %}>Price Hardcover (high to low)</option>
                            <!-- TO BE IMPLEMENTED: filter for paperback and electronic prices -->
                            <!-- <option value="price_paperback__asc" {% if current_sorting == 'price_paperback_asc' %}selected{% endif %}>Price Paperback (low to high)</option>
                            <option value="price_paperback__desc" {% if current_sorting == 'price_paperback_desc' %}selected{% endif %}>Price Paperback (high to low)</option>
                            <option value="price_electronic__asc" {% if current_sorting == 'price_electronic_asc' %}selected{% endif %}>Price Electronic (low to high)</option>
                            <option value="price_electronic__desc" {% if current_sorting == 'price_electronic_desc' %}selected{% endif %}>Price Electronic (high to low)</option> -->
                            <option value="rating__asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="rating__desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                            <option value="title__asc" {% if current_sorting == 'title_asc' %}selected{% endif %}>Title (A to Z)</option>
                            <option value="title__desc" {% if current_sorting == 'title_desc' %}selected{% endif %}>Title (Z to A)</option>
                            <option value="book_sub_category__asc" {% if current_sorting == 'book_sub_category_asc' %}selected{% endif %}>Category (A to Z)</option>
                            <option value="book_sub_category__desc" {% if current_sorting == 'book_sub_category_desc' %}selected{% endif %}>Category (Z to A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3">
                        {% if search_term or current_sub_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'books' %}">Back to All Books</a> | </span>
                        {% endif %}
                        {{ books|length }} Books{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            <!-- Book card to show a list of all books -->
            <div class="row">
                {% for book in books %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 my-3">
                    <div class="card h-100 my-auto">
                        {% if book.cover %}
                        <a href="{% url 'book_detail' book.id %}">
                            <img src="{{ book.cover.url }}" alt="{{ book.title }}" class="card-img-top img-thumbnail img-fluid">
                        </a>
                        {% else %}
                        <a href="{% url 'book_detail' book.id %}">
                            <img src="{{ MEDIA_URL }} noimage.png" alt="{{ book.title }}"
                                class="card-img-top img-fluid img-thumbnail">
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text font-weight-bold">"{{ book.title }}"</p>
                            <p class="card-text font-weight-bold">by {{ book.author }}</p>
                            <p class="lead text-left my-0 text-muted"><small class="ft-sm">£ {{ book.price_hardcover }} | {{ book.book_type1.book_friendly_type }}</small></p>
                            <p class="lead text-left my-0 text-muted"><small class="ft-sm">£ {{ book.price_paperback }} | {{ book.book_type2.book_friendly_type }}</small></p>
                            {% if book.book_sub_category %}
                            <p class="small mt-3 mb-0">
                                <a href="{% url 'books' %}?book_sub_category={{ book.book_sub_category.book_sub_category }}"
                                    class="text-muted">
                                    <i class="fas fa-hashtag"></i>
                                    {{ book.book_sub_category.book_friendly_sub_category }}
                                </a>
                            </p>
                            {% endif %}
                            <p class="lead text-left price mt-3 ft-md"><i class="far fa-heart"></i> Add to Wish List</p>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <p class="lead text-left">
                                        <small class="text-muted">Reviews</small>
                                    </p>
                                </div>
                                <div class="col">
                                    <p>
                                        {% if book.rating %}
                                        <small class="text-muted"><i class="fas fa-star"></i> {{ book.rating }} /
                                            5</small>
                                        {% else %}
                                        <small class="text-muted">No Rating Yet</small>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- <div class="container m-5 p-5">
                <div class="row">
                    <div class="col"></div>
                </div>
            </div> -->
        </div>
    </div>
</div>
{% endblock %}


<!-- JS to sort the products by category in ascending&descending order -->
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("__")[0];
                var direction = selectedVal.split("__")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}