{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2>All Books</h2>
        </div>
    </div>
    <div class="row">
        <div class="product container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for book in books %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 my-3">
                    <div class="card h-100 my-auto">
                        {% if book.cover %}
                        <a href="{% url 'book_detail' book.id %}">
                            <img src="{{ book.cover.url }}" alt="{{ book.title }}" class="card-img-top img-fluid">
                        </a>
                        {% else %}
                        <a href="{% url 'book_detail' book.id %}">
                            <img src="{{ MEDIA_URL }} noimage.png" alt="{{ book.title }}"
                                class="card-img-top img-fluid img-thumbnail">
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text font-weight-bold">{{ book.title }}</p>
                            <p class="card-text font-weight-bold">by {{ book.author }}</p>
                            <p class="lead text-left">
                                <small>
                                    £ {{ book.price_hardcover }}
                                </small>
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <p class="lead text-left">
                                        <small class="text-muted">Comments</small>
                                    </p>
                                </div>
                                <div class="col">
                                    <p>
                                        {% if book.rating %}
                                        <small class="text-muted"><i class="fas fa-star"></i> {{ book.rating }} / 5</small>
                                        {% else %}
                                        <small class="text-muted">No Rating Yet</small>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}